#Virtual Environment
/python-venv/

#Prototyping
/python/

#Binarys
/rust/target/
*.pyc
*.spv

#IDE
.vscode/
.idea/
*.swp
*.swo

#OS
.DS_Store
Thumbs.db
*.ini

#User Configs
user-settings.toml

#Code Playground
*.dev.*

#Rust
Cargo.lock

rust/src/renderer.rs

rust/src/vulkan.rs

rust/src/window.rs
